{{ form_start(form) }}
<div class="row">
    <div class="col-md-4"> {{ form_row(form.Nom) }}</div>
</div>
<div class="row">
    <div class="col-md-8"> {{ form_row(form.Description) }}</div>
</div>
<div class="row">
    <div class="col-md-6"> {{ form_row(form.Type) }}</div>
</div>
<div class="row">
    <div class="col-md-4"> {{ form_row(form.Datedebut) }}</div>
    <div class="col-md-4"> {{ form_row(form.Datefin) }}</div>
</div>

<div class="row">
    <div class="col-md-6"> {{ form_row(form.imageFile) }}</div>

</div>
{{ form_rest(form)}}
    <button class="btn btn-primary">{{ button | default('Enregistrer') }}</button>
{{ form_end(form) }}