{% extends 'base.html.twig' %}

{% block title 'Gerer les biens' %}

{% block body %}
<div class="container">
    {{ form_start(form) }}
    <div class="form-row align-items-end">
        <div class="col">
            {{ form_row(form.Type) }}
        </div>
        <div class="col">
            <div class="form-group">
                <button class="btn btn-primary">Rechercher</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
<div class="container mt-4">
    <h1>Gérer les événements</h1>

    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endfor %}

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Type d'evenement</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for Evenement in evenements %}
            <tr>
                <td>{{ Evenement.Nom }}</td>
                <td>{{ Evenement.Type.Nom }}</td>
                <td>
                {% if Evenement.Description|length > 30 %}
                {{ Evenement.Description|slice(0, 30)}}...
                {% elseif Evenement.Description|length < 30 %}
                {{ Evenement.Description}}
                {% endif %}
                <td>
                    <a href="{{ path ('admin.edit', {id: Evenement.id})}}" class="btn btn-secondary">Editer</a>
                    <form method="POST" action="{{ path ('admin.delete', {id: Evenement.id}) }}"
                        style="display: inline-block;" onsubmit="return confirm('Etes-vous vraiment sûr ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ Evenement.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-right">
        <a href="{{ path ('admin.new') }}" class="btn btn-primary">Créer un nouvel evenement</a>
    </div>
</div>

{% endblock %}